<div class="">
    <div class="aHl"></div>
    <div id=":tz" tabindex="-1"></div>
    <div id=":ua" class="ii gt">
        <div id=":ub" class="a3s aXjCH ">
            <div class="adM"> </div>
            <div marginheight="0" style="margin:0px;background:#f0f0f0">
                <center>
                    <table border="0" cellpadding="0" cellspacing="0" width="100%" id="m_2154851638648160728bodyTable"
                        style="font-family:'Open Sans',Arial,sans-serif;border-collapse:collapse;background-color:#f0f0f0;height:100%;width:100%;margin:0;padding:0">
                        <tbody>
                            <tr>
                                <td align="center" valign="top" id="m_2154851638648160728bodyCell"
                                    style="height:100%;width:100%;margin:0;padding:0">
                                    <table border="0" cellpadding="0" cellspacing="0" width="100%"
                                        style="border-collapse:collapse">
                                        <tbody>
                                            <tr id="m_2154851638648160728brandLogoTr">
                                                <td align="center" valign="top">
                                                    <table id="m_2154851638648160728brandLogo" border="0"
                                                        cellpadding="0" cellspacing="0" width="100%"
                                                        style="border-collapse:collapse">
                                                        <tbody>
                                                            <tr>
                                                                <td align="center" height="40"
                                                                    style="padding:30px 0 20px 0"> <a
                                                                        href="https://apptizer.io" target="_blank"
                                                                        data-saferedirecturl="https://www.google.com/url?q=https://apptizer.io&amp;source=gmail&amp;ust=1584606370274000&amp;usg=AFQjCNHxAWJojLlXpiSITgW2Ta8O4TYAgw">
                                                                        <img src="https://i.ibb.co/61HR17G/Screenshot-2020-03-18-at-14-08-42.png"
                                                                            height="60" width="200" border="0"
                                                                            style="border:0;border-style:none;text-decoration:none;max-width:100%;height:auto"
                                                                            class="CToWUd"> </a> </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                            <tr id="m_2154851638648160728emailBodyTr">
                                                <td align="center" valign="top" style="background-color:#f0f0f0">
                                                    <table id="m_2154851638648160728emailBody" border="0"
                                                        cellpadding="0" cellspacing="0"
                                                        style="border-collapse:collapse;margin:0 auto;width:90%;background-color:#fff">
                                                        <tbody>
                                                            <tr>
                                                                <td align="center" valign="top"
                                                                    style="color:#616467;border:1px solid #cecece;border-top:3px solid #cc494d;text-align:left;padding:30px 30px 30px 30px">
                                                                    <table border="0" cellpadding="0" cellspacing="0"
                                                                        width="100%" style="border-collapse:collapse">
                                                                        <tbody>
                                                                            <tr>
                                                                                <td align="center"
                                                                                    style="color:#606060;font-size:18px;font-weight:600;padding-bottom:10px;line-height:170%">
                                                                                    Welcome Aboard the Mobile <span
                                                                                        class="il">Order</span> Ahead
                                                                                    Revolution! </td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td align="center" valign="top"
                                                                                    style="color:#606060;font-size:14px;font-weight:normal;line-height:170%">
                                                                                    {{businessName}}, <br> Congrats for
                                                                                    taking the first step towards taking
                                                                                    your business mobile. </td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td align="center" valign="top"> <img
                                                                                        src="https://ci4.googleusercontent.com/proxy/hmxmg9Z_4jfpeCDt5K0FBaVv9p476u31ihC5X6NAWS2DFPdLo4X0xuqQdGVRFKmSnPDg1Uu5g7msWnFB1VfZeXAnvtkI4QSb3AY5pT_RiJfeI5lhqMY-AhxHgg=s0-d-e1-ft#https://merchant.apptizer.io/apptizer/app-images/otrs/mobile-store-1.jpg"
                                                                                        alt="App-Preview" height="200"
                                                                                        width="200" border="0"
                                                                                        style="border:0;border-style:none;text-decoration:none;max-width:100%;height:auto"
                                                                                        class="CToWUd a6T" tabindex="0">
                                                                                    <div class="a6S" dir="ltr"
                                                                                        style="opacity: 0.01; left: 334px; top: 404px;">
                                                                                        <div id=":11s"
                                                                                            class="T-I J-J5-Ji aQv T-I-ax7 L3 a5q"
                                                                                            title="Download"
                                                                                            role="button" tabindex="0"
                                                                                            aria-label="Download attachment "
                                                                                            data-tooltip-class="a1V">
                                                                                            <div
                                                                                                class="aSK J-J5-Ji aYr">
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                </td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td align="center" valign="top"
                                                                                    style="color:#606060;font-size:14px;font-weight:normal;line-height:170%">
                                                                                    You're just a <i>few clicks away</i>
                                                                                    from getting your shiny-new app and
                                                                                    start earning sales. <br> </td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td align="center"
                                                                                    style="padding:20px 10px 20px 10px">
                                                                                    <table border="0" cellspacing="0"
                                                                                        cellpadding="0"
                                                                                        style="border-collapse:collapse">
                                                                                        <tbody>
                                                                                            <tr>
                                                                                                <td align="center"
                                                                                                    style="border-radius:4px;background:#c5161d"
                                                                                                    bgcolor="#c5161d">
                                                                                                    <a href="https://merchant.apptizer.io"
                                                                                                        style="color:#0060ae;font-size:14px;color:#ffffff;text-decoration:none;border-radius:4px;padding:13px 40px 13px 40px;display:inline-block;border-top:1px solid #c5161d"
                                                                                                        target="_blank"
                                                                                                        data-saferedirecturl="https://www.google.com/url?q=https://merchant.apptizer.io&amp;source=gmail&amp;ust=1584606370275000&amp;usg=AFQjCNFJReYR2otK43AmZ-NjuGEoDZYaRw">
                                                                                                        Let's Get
                                                                                                        Started! </a>
                                                                                                </td>
                                                                                            </tr>
                                                                                        </tbody>
                                                                                    </table>
                                                                                </td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td align="center" valign="top"
                                                                                    style="color:#606060;font-size:15px;font-weight:bold;padding-top:20px">
                                                                                    Need Any Help? Feel Free to Contact
                                                                                    Us </td>
                                                                            </tr>
                                                                            <tr>
                                                                                <!-- <td align="center" valign="top"
                                                                                    style="color:#606060;font-size:14px;font-weight:normal;line-height:150%;padding-top:10px">
                                                                                    Contact us via <a
                                                                                        href="mailto:+support@apptizer.io"
                                                                                        style="color:#c5161d"
                                                                                        target="_blank">support@apptizer.io</a>
                                                                                    or Call us on <a
                                                                                        href="tel:%20+16502429992"
                                                                                        style="color:#c5161d"
                                                                                        target="_blank">+1 (650) 242
                                                                                        9992</a> <br> </td> -->
                                                                            </tr>
                                                                        </tbody>
                                                                    </table>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                            <tr id="m_2154851638648160728footerTr">
                                                <td align="center" valign="top" id="m_2154851638648160728emailFooter"
                                                    style="padding:20px 0">
                                                    <table border="0" cellpadding="0" cellspacing="0"
                                                        style="border-collapse:collapse">
                                                        <tbody>
                                                            <tr>
                                                                <td align="center" valign="top"
                                                                    style="color:#999;font-size:11px;font-weight:normal;line-height:170%;padding:5px 0">
                                                                    © 2020 Appezite All rights reserved. <br> </td>
                                                            </tr>
                                                            <tr>
                                                                <td align="center" valign="top">
                                                                    <table border="0" cellpadding="0" cellspacing="0"
                                                                        style="border-collapse:collapse">
                                                                        <tbody>
                                                                            <tr>
                                                                                <td align="center"
                                                                                    style="padding-top:11px;padding-bottom:5px">
                                                                                    <a href="https://apptizer.io"
                                                                                        title="Apptizer" target="_blank"
                                                                                        data-saferedirecturl="https://www.google.com/url?q=https://apptizer.io&amp;source=gmail&amp;ust=1584606370275000&amp;usg=AFQjCNG8gvWTcujdjMSdeJ607bjxEPulXg">
                                                                                        <img src="https://i.ibb.co/Ny34Z7J/Screenshot-2020-03-18-at-14-13-44.png"
                                                                                            height="25" width="83"
                                                                                            border="0"
                                                                                            style="border:0;border-style:none;text-decoration:none"
                                                                                            class="CToWUd"> </a> </td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td align="center"
                                                                                    style="color:#999;font-size:9px;font-weight:300;line-height:125%;padding-bottom:20px">
                                                                                    <span>Revolutionising order ahead with blockchain!</span> </td>
                                                                            </tr>
                                                                        </tbody>
                                                                    </table>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </center>
            </div>
            <div class="yj6qo"></div>
            <div class="adL">
            </div>
        </div>
    </div>
    <div id=":tu" class="ii gt" style="display:none">
        <div id=":tv" class="a3s aXjCH undefined"></div>
    </div>
    <div class="hi"></div>
</div>