<div id=":14k" class="ii gt"><div id=":14j" class="a3s aXjCH "><u></u>

    
    

<div style="font-family:'Open Sans',Arial,sans-serif;color:#464646;font-size:14px">
<div style="background-color:#f5f5f5;margin:3%;border:1px solid #d0d0d0">
    <div style="text-align:center;margin:20px 10px 10px 10px">
                    <img src="https://i.ibb.co/61HR17G/Screenshot-2020-03-18-at-14-08-42.png" style="width:auto;max-width:100%;height:auto;max-height:60px" class="CToWUd">
            </div>

    <div style="padding:10px;font-family:'Raleway',sans-serif;font-size:17px;text-align:center">
        <b>Thank you for ordering from {{businessName}}.</b>
    </div>

    <div style="padding:15px;text-align:center;font-size:14px">
        Dear {{userName}}, <br><br>
        {{msg}} <br>
        Have a great day !<br><br>
        {{businessName}} Team.
    </div>

    <div style="background:#e8e8e8;color:grey;padding:10px">
        <div style="display:inline-block;width:60%;line-height:15px;font-size:10px">
            Powered By <a href="https://apptizer.io/" style="color:grey;text-decoration:none" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://apptizer.io/&amp;source=gmail&amp;ust=1584699184252000&amp;usg=AFQjCNF7uzvj19G0OAEhRJfFachTaKsbtA"><b><span class="il">Appezite</span> Inc.</b></a>
            <br> Copyright © 2017. All Rights Reserved.
            <br>
            <a href="https://www.facebook.com/ApptizerIO-423959047811752" style="text-decoration:none" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://www.facebook.com/ApptizerIO-423959047811752&amp;source=gmail&amp;ust=1584699184252000&amp;usg=AFQjCNFhIdnkrofnO1Zs2Yjkn2P6-5yShQ">
                <img src="https://ci6.googleusercontent.com/proxy/IfDHKGb-nJ0BVnf10LbS83uoAcKLfUGEprRR9IKOiqU-GAwIzn0YCrvGz4S-pRqU-7gY1kMmrXGm9rmYtlqt7afymwEmWsPsD38utNPPR9W61IR50iejBgI2ydB67WAD_d7WH2hgsAUZ=s0-d-e1-ft#https://merchant.apptizer.io/apptizer/app-images/common/email_social_icon_facebook.png" style="width:20px;margin-top:5px;margin-right:5px" class="CToWUd">
            </a>
            <a href="https://twitter.com/Apptizer_io" style="text-decoration:none" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://twitter.com/Apptizer_io&amp;source=gmail&amp;ust=1584699184252000&amp;usg=AFQjCNEYqq_USNoefqWh173nZLE897jq-g">
                <img src="https://ci6.googleusercontent.com/proxy/McW6hI41mrf95UvyjzLGZsiVwY3zJLUuf2YP9UnPOKqgQcPnCEv2E0QvaZunbCxIV3qpq5l_3xQkMcG1YnUXzvMBZmYvB6IZ5MtuS16leI7WEuHP0P2x0syL1sJKmYlPSXRpP49bnLg=s0-d-e1-ft#https://merchant.apptizer.io/apptizer/app-images/common/email_social_icon_twitter.png" style="width:20px;margin-top:5px;margin-right:5px" class="CToWUd">
            </a>
            <a href="https://www.instagram.com/apptizer_io/" style="text-decoration:none" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://www.instagram.com/apptizer_io/&amp;source=gmail&amp;ust=1584699184252000&amp;usg=AFQjCNEphdClis4xDJsW_RvqiPHgqO8LEw">
                <img src="https://ci6.googleusercontent.com/proxy/Z1f1h-AMxnessOrSwEqCEUSANAOPin9aXa-zEO2euCL7rCuo9cMAGOtMXd5evc5AYTJLKtna4NqIOd5q8OkhqUFDvT_daB7S_qaRllm4Mpd7rMRAdSX9gj8Ufq1qz4IZQHg9HJFZokVM0g=s0-d-e1-ft#https://merchant.apptizer.io/apptizer/app-images/common/email_social_icon_instagram.png" style="width:20px;margin-top:5px;margin-right:5px" class="CToWUd">
            </a>
        </div>
        <div style="display:inline-block;float:right;text-align:right">
            <a href="https://apptizer.io/" style="text-decoration:none" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://apptizer.io/&amp;source=gmail&amp;ust=1584699184252000&amp;usg=AFQjCNF7uzvj19G0OAEhRJfFachTaKsbtA">
                <img src="https://i.ibb.co/Ny34Z7J/Screenshot-2020-03-18-at-14-13-44.png" style="height:50px;width:auto" class="CToWUd">
            </a><div class="yj6qo"></div><div class="adL">
        </div></div><div class="adL">
    </div></div><div class="adL">


</div></div><div class="adL">
</div></div><div class="adL">

</div></div></div>